{% extends "base.html" %}


{% block content %}
        <main>
            <div>
                <h1>My Tasks</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in projects %}
                        <tr>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
{% endblock content %}
