{% extends "base.html" %}


{% block content %}
        <main>
            <div>
                <h1>My Tasks</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            td>{{ task.name }}</td>
                        <td>{{ assignee.username }}</td>
                        <td>{{ start_date|date:"b d, Y, I p"}}</td>
                        <td>{{ due_date|date:"b d, Y, I p" }}</td>
                        <td>{{ is_completed|yesno:"yes,no" }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
{% endblock content %}
