{% extends "base.html" %}


{% block content %}
<main>
    <div>
        <h1>{{projects.name}}</h1>
        <p>{{projects.description}}</p>
        <h2>Tasks</h2>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Is Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ tasks.name }}</td>
                    <td>{{ tasks.assignee.username }}</td>
                    <td>{{ tasks.start_date|date:"m d, Y"}}</td>
                    <td>{{ tasks.due_date|date:"m d, Y," }}</td>
                    <td>{{ tasks.is_completed|yesno }}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
