{% extends "base.html" %}


{% block content %}
<main>
    <div>
        {% for project in projects%}
        <h1>{{project.name}}</h1>
        <p>{{project.description}}</p>
        <h2>Tasks</h2>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Is Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee.username }}</td>
                    <td>{{ task.start_date.date}}</td>
                    <td>{{ task.due_date.date }}</td>
                    <td>{{ task.is_completed|yesno }}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
