{% extends "base.html" %}


{% block content %}
<main>
    <div>
        <h1>{{project_object.title}}</h1>
        <h1><p>{{project_object.description}}</h1></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
