{% extends "base.html" %}


{% block content %}
<main>
    <div>
        <h1>{{projects.name}}</h1>
        <p>{{projects.description}}</p>
        <h2>Tasks</h2>
        <p><a href="{% url "create_task" %}">Create a new task</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Is Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in taaks %}
                <tr>
                    <td>{{ project.tasks.name }}</td>
                    <td>{{ project.tasks.assignee.username }}</td>
                    <td>{{ project.tasks.start_date|date:"b d, Y, I p"}}</td>
                    <td>{{ project.tasks.due_date|date:"b d, Y, I p" }}</td>
                    <td>{{ project.tasksis_completed|yesno:"yes,no" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
