{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ projects.name }}</h1>
            <p>{{ projects.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start 
                    </tr>
                </thead>
                <tbody>
                    {% for project in tasks %}
                        <tr>
                            <td>{{ project.task.name }}</td>
                            <td>{{ project.task.assignee.username }}</td>
                            <td>{{ project.task.start_date|date:"M. d, Y, P" }}</td>
                            <td>{{ project.task.due_date|date:"M. d, Y, P" }}</td>
                            <td>{{ project.task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
